*, *:before, *:after {
    box-sizing:border-box;
}


.display {
    color:fuchsia;
    font-size:2rem;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
    margin-top:7rem;
}

.start-msg {
    text-align:center;
    color:#aaa9a9;
    font-size:1.3rem;
}

.hidden {
    color:#fff;
}