body {
	font-family: $font-body;
	font-size:$font-size-body;
    color:$color-body;
}

%title {
    font-size:4.8rem;
    font-weight:bold;
    line-height:4.8rem;
    letter-spacing:-1px;
    font-family:$font-title;
    color:$color-title;
}

%link {
    font-size:1.3rem;
    font-weight:600;
    letter-spacing:1px;
    font-family:inherit;

    &:hover {
        cursor:pointer;
    }
}

