@mixin container($width, $max) {
    width: $width + "%";
    max-width: $max + "px";
    padding:2rem;
    margin:0 auto;
}

@mixin flexcenter {
    display:flex;
    justify-content: center;
    align-items: center;
}