
/* colors */
$dark-blue:hsl(243, 62%, 33%);
$light-blue: hsl(204, 100%, 67%);
$dark-grey: hsl(0, 0%, 20%);

/* fonts */
$opensans: 'Opensans', sans-serif;
$poppins: 'Poppins', sans-serif;




/* Background */
$bg-primary: $dark-blue;
$bg-secondary:$light-blue;


/* Texts */
$color-body:$dark-gray;
$color-title:$dark-blue;
$color-active:$light-blue;

$font-body:$opensans;
$font-title:$poppins;
$font-size-body:1.4rem;