/* GLOBALS */

:root {
    /* Background Colors */
	--bg-violet: hsl(260, 71%, 62%);

	/* Fonts Colors */
	--c-grey: hsl(260, 10%, 29%);
    --c-white:hsl(0, 0%, 100%);
    --c-violet:hsl(260, 71%, 62%);
    --c-light-grey:hsl(0, 0%, 48%);

	/* Fonts */
	--f-main:'Raleway', sans-serif;
	--f-title:'Oswald', sans-serif;
}

html {
	font-size:62.5%;/*1rem = 10px*/
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: var(--f-main);
	font-size:1.4rem;
}

h1, h2, h3 {
	margin:0;
}

img {
	max-width:100%;
	height:auto;
}

a {
	text-decoration:none;
    cursor:pointer;
}

ul li {
	list-style-type: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* CUSTOMS STYLES */


header {
    display:flex;
    align-items:center;
    background-color:var(--bg-violet);
}
.logo {
    width:5rem;
    margin:1rem;
}
h1 {
    font-family:var(--f-main);
    font-size:2rem;
    color:#fff;
}
section {
    max-width:800px;
    margin:0 auto;
    padding:1rem;
}

/* search bar */
.search_form {
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    /* background-color: red; */
}
.search_input {
    border:none;
    border:1px solid silver;
    border-radius:3px;
    padding:0.5rem;
    width:75%;
}
.search_btn {
    border:none;
    background-color: var(--bg-violet);
    color: var(--c-white);
    padding:1rem;
    border-radius:3px;
    margin-top:1rem;
}

/* section results */
.result {
    padding:2rem 1rem;
}
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card {
    width:172.5px;
    border-radius:3px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    box-shadow:2px 5px 10px -3px rgba(0, 0, 0, 0.3);
}

.card img {
    width:100%;
    padding-bottom: 1rem;
    border-radius:3px 3px 0 0;
}
.card h3 {
    font-size: 1.2rem;
    color:var(--c-grey);
    word-wrap: break-word;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.card p {
    font-size:1rem;
    color:var(--c-light-grey);
    padding-left: 0.5rem;
}
.card img {
    width:172.5px;
    height:268.75px;
}


/* page details */

.back {
    padding:1rem 0 0;
}
.back_btn {
    background-color:var(--bg-violet);
    border-radius:3px;
    padding:1rem;
    margin:0 1rem;
    color:var(--c-white);
    border:none;
    cursor:pointer;
}
.movie {
    color:var(--c-light-grey);
}
.movie_infos {
    display:flex;
    justify-content: flex-start;
    margin-bottom:1rem;
}
.movie_infos p { 
    margin:0 0.5rem;
    font-size:1.2rem;
    color:var(--c-light-grey);

}
.movie img, .movie h2, .movie p {
    margin-bottom:1rem;
}
.movie h2 {
    font-size: 1.6rem;
    color: var(--c-grey);
    word-wrap: break-word;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.movie_summary {
    padding:0 0.5rem;
    font-size:1.4rem;
}